body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #14d5ee;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.intro {
    text-align: center;
    padding: 50px 20px;
}

.profile-photo {
    width: 150px;
    height: auto;
    border-radius: 50%; /* Circular photo */
}

section {
    padding: 20px;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
    background: rgb(198, 198, 19);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    color: #333;
}

.project {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #0aa3db;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
